/* login.css - used for Login & Register pages */

body {
  font-family: Arial, sans-serif;
  background-color: #f39d9d;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #7ee6b5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input,
.login-container select {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-container button {
  padding: 12px;
  background-color: #4f46e5;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: #3730a3;
}

.login-container p {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.login-container p button {
  font-size: 14px;
}