@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add your custom styles here */
body {
  font-family: Arial;
  background: #f4f6f8;
}

nav {
  background: #2563eb;
  padding: 15px;
  color: white;
}

nav a, nav button {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.card {
  background: white;
  padding: 30px;
  width: 300px;
  margin: 50px auto;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
